/*-- scss:defaults --*/

$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;
$presentation-heading-font: "IBM Plex Sans", sans-serif;
$presentation-heading-font-weight: 200;
$presentation-heading-letter-spacing: -0.04em;
$presentation-title-slide-text-align: left;
$presentation-slide-text-align: left;
